h1 {
    color: rgb(166, 0, 255);
  }

h2 {
    color: rgb(0, 198, 0);
  }

h3 {
    color: rgb(255, 234, 0);
  }

  .header-title {
    font-family: DeterminationMono;
  }

  .single-title {
    color: rgb(0, 198, 0);
  }

  #id-1 {
    color: rgb(255, 234, 0);
  }

  .single-title a {
    color: rgb(255, 234, 0);
  }